@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.greeting</h2>

<a href="/supplier/index" class="btn btn-primary">Suppliers</a>

<a href="/suppliercategory/index" class="btn btn-primary">Supplier Categories</a>

<a href="/country/index" class="btn btn-primary">Countries</a>

