@model WebApplication1.DTO.SupplierCategoryDTOs.SupplierCategoryAddRequest
@{
    ViewBag.Title = "Add Supplier Category";
}

<a asp-controller="SuppluerCategory" asp-action="Index" class="link-hover">Back to Supplier Categories List</a>
<div class="mt-2" style="width:50%">
    <form asp-controller="SupplierCategory" asp-action="AddSupplierCategory" method="post">
        <h2>Add Supplier Category</h2>
        <div class="mb-3">
            <label asp-for="Description" class="form-label pt">Supply Category</label>
            <input asp-for="Description" type="text" class="form-input">
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>

        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button type="submit" class="btn btn-primary">Submit</button>

                <div asp-validation-summary="All" class="text-red"></div>

                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml">@error</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </form>
</div>
